@import "tailwindcss";
@import "@nuxt/ui";

@layer components {
  .section-heading {
    @apply text-4xl font-bold;
  }
}

@utility scrollbar-hidden {
  /* Для Firefox */
  scrollbar-width: none;

  /* Для WebKit-браузеров (Chrome, Safari, Edge) */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Убедимся, что прокрутка работает */
  overflow: auto;
  -ms-overflow-style: none; /* Для IE и старого Edge */
}
